@model Chatluongcomputer.Models.User
@{
    Layout = null;
    ViewBag.Title = "Xóa Admin";
}

<h4>Bạn có chắc muốn xóa <strong>@Model.FullName</strong> không?</h4>

<hr />
<dl class="dl-horizontal">
    <dt>Tài khoản</dt>
    <dd>@Model.Username</dd>

    <dt>Email</dt>
    <dd>@Model.Email</dd>
</dl>

<form id="deleteForm" method="post" action='@Url.Action("DeleteConfirmed", "Admin")'>
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.UserId)

    <button type="submit" class="btn btn-danger">Xác nhận xóa</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
</form>
